<div class="ui card">
    <div class="content">
        <div class="header center aligned">{{project.name}}</div>
    </div>
    <table class="ui unstackable table">
        <tbody>
            <tr>
                <td>Data Type</td>
                <td>{{project.data_type}}</td>
            </tr>
            <tr>
                <td>Public IP</td>
                <td>{{project.ipv4}}</td>
            </tr>
            <tr>
                <td>PORT</td>
                <td>{{project.port}}</td>
            </tr>
            <tr>
                <td>Training Size</td>
                <td>{{project.train_size}}</td>
            </tr>
            <tr>
                <td>Problem Type</td>
                <td>{{project.problem_type}}</td>
            </tr>
            <tr>
                <td>Class Labels</td>
                <td>{{project.class_labels}}</td>
            </tr>
            <tr>
                <td>Created On</td>
                <td>{{project.created_on}}</td>
            </tr>
        </tbody>
    </table>
    <div class="extra content">
        <button (click)="onEdit()" class="ui left floated icon button">
            <i class="edit icon"></i>
        </button><button (click)="onRemove()" class="ui right floated red icon button">
            <i class="trash icon"></i>
        </button>
    </div>
</div>